.loginContainer {
    display: flex;
    height: 100vh;
  }
  
  .leftSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rightSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Logo {
    width: 400px; /* Adjust size as needed */
    height: 450px;
  }
  
  .loginForm {
    width: 400px; /* Adjust width as needed */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loginFormButton {
    width: 100%;
  }
  